<div class="books-pg">
    <div class="book-search">
        <div class="wrap-c">
            <div class="search-c">
               <input type="text" class="searchTerm-c" [(ngModel)]="searchText" placeholder="Search books...">
               <button type="submit" class="searchButton-c" (click)="getAllBookList()">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
    <div class="books-container">
        <div class="book-item" *ngFor="let book of booksList">
            <div class="book-img">
                <img [src]="book.book_url" alt="book">
            </div>
            <div class="book-name">
                <label>{{ book.book_title }}</label>
            </div>
            <div class="book-info">
                <label>
                 Author: {{ book.author }}   
                </label>
            </div>
            <div class="book-info">
                <label>
                    Category: {{ book.category }}
                </label>
            </div>
            <div class="book-info">
                <label>
                    Status: {{ book.book_status }}
                </label>
            </div>
            <div class="book-info">
                <label>
                    Rack: {{ book.rack_number}}
                </label>
            </div>
            <ng-container *ngIf="book.booksBorrows">
            <div class="book-info">
                <label>
                    Borrowed Date: {{ book?.booksBorrows?.borrowed_date | date:'mediumDate'}}
                </label>
            </div>
            <div class="book-info">
                <label>
                    Return Date: {{ book?.booksBorrows?.return_date | date:'mediumDate'}}
                </label>
            </div>
            <div class="book-info" *ngIf="book.booksBorrows.fee_charge && userId == book.booksBorrows.user_id">
                <label>
                    OverDue Fee: {{ book?.booksBorrows?.fee_charge }}
                </label>
            </div>
            <div class="book-info" *ngIf="book.booksBorrows.user_name && isHistory">
                <label>
                    MemberName: {{ book?.booksBorrows?.user_name }}
                </label>
            </div>
            </ng-container>
            <div class="book-available-btn" *ngIf="book.book_status === 'AVAILABLE' && isHistory == false">
                <button *appRolesPermission="['User']" class="cursor-pointer" (click)="submit(book.id, 'Borrow')">Borrow</button>
            </div>
            <div class="book-available-btn" *ngIf="book.book_status != 'AVAILABLE'
            && (book.booksBorrows && userId == book.booksBorrows.user_id) && isHistory == false">
                <button *appRolesPermission="['User']" class="cursor-pointer" (click)="submit(book.id, 'Return')">Return Book</button>
            </div>
        </div>
    </div>
</div>