.books-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.books-pg {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.book-item {
    width: 40%;
    height: 40%;
    margin-bottom: 220px;
}
.book-img {
    width: 80%;
    height: 80%;
}

.book-item img {
    width: 100%;
    height: 100%;
}

.book-name {
    display: block;
    overflow: hidden;
    line-height: 1.3125em;
    max-height: 2.625em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000514;
    font-size: 16px;
    font-weight: 600;
}
.book-info {
    display: block;
    line-height: 19px;
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #57617a;
    font-size: 14px;
}

.search-c {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm-c {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm-c:focus{
    color: #00B4CC;
  }
  
  .searchButton-c {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wrap-c{
    width: 30%;
    margin-right: 135px;
  }

  .book-search {
    display: flex;
    padding: 30px;
    justify-content: flex-end;
    width: 100%;
  }
  .book-available-btn {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: flex-start;
  }

  .book-available-btn button {
    width: 110px;
    height: 30px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
  }