.nav-head {
    width: 100%;
    height: 60px;
    background: #f2f1f3;
    border-bottom: 3px solid #860e17;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 99;
    margin-left: 0px;
    top: 0px;
    position: fixed;
}

main {
    position:relative;
    display:block;
}

.nav-head .nav-head-title {
    margin-top: 25px;
    margin-right: 35px;
    font-size: 14px;
    font-family: Arial;
    font-weight: 550;
}
.layout-content {
    width: 100%;
    height: calc(100vh - 20px);
}

.nav-head-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
}

.profile-img {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 30px;
    height: 30px;
}

.profile-img label {
    font-size: 13px;
    color: #551a98;
}

.my-books a {
    color: #551a8b;
    margin-right: 30px;
}