<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Confirmation box!</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="submit('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p><strong>Are you sure you want to {{ status }} the book</strong></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="submit('close')">Cancel</button>
  <button type="button" class="btn btn-danger" (click)="submit('ok')">Ok</button>
</div>